In [2]:
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [3]:
train = pd.read_parquet("train_data.csv")

In [4]:
train.head()

,era,data_type,feature_honoured_observational_balaamite,feature_polaroid_vadose_quinze,feature_untidy_withdrawn_bargeman,feature_genuine_kyphotic_trehala,feature_unenthralled_sportful_schoolhouse,feature_divulsive_explanatory_ideologue,feature_ichthyotic_roofed_yeshiva,feature_waggly_outlandish_carbonisation,...,T0,T1,T2,T3,T4,T5,T6,T7,T8,T9
id,,,,,,,,,,,,,,,,,,,,,
nb5b06e83fe1c412,0439,train,2,3,3,3,2,4,3,1,...,0.25,0.50,1.00,0.25,0.75,0.25,0.75,0.25,0.75,0.25
na89cbf822b8badb,0329,train,4,3,4,4,4,0,4,4,...,0.00,0.00,0.25,0.00,0.25,0.25,0.50,0.00,0.50,0.00
nfe7c4b2f97ee047,0287,train,2,4,2,3,1,3,1,4,...,0.75,0.75,0.75,1.00,0.75,0.75,0.50,1.00,0.75,0.75
n3e103b605aff41f,0357,train,2,4,1,1,0,1,1,4,...,0.25,0.00,0.50,0.50,0.50,0.25,0.50,0.25,0.25,0.25
nc4ac47de23c5039,0061,train,1,1,3,3,2,3,3,2,...,0.50,0.75,0.50,0.50,0.25,0.50,0.50,0.75,0.25,0.50

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1936416 entries, nb5b06e83fe1c412 to n11b6347af31aa4f
Columns: 2388 entries, era to T9
dtypes: float32(10), int8(2376), object(2)
memory usage: 4.4+ GB

In [6]:
type(train)

pandas.core.frame.DataFrame

In [7]:
trainone = train.drop(columns="data_type")

In [8]:
type(trainone)

pandas.core.frame.DataFrame

In [9]:
trainone.drop(columns=["T1", "T2", "T3", "T5", "T6", "T7", "T8", "T9"], inplace=True)

In [10]:
type(trainone)

pandas.core.frame.DataFrame

In [11]:
trainone.head()

,era,feature_honoured_observational_balaamite,feature_polaroid_vadose_quinze,feature_untidy_withdrawn_bargeman,feature_genuine_kyphotic_trehala,feature_unenthralled_sportful_schoolhouse,feature_divulsive_explanatory_ideologue,feature_ichthyotic_roofed_yeshiva,feature_waggly_outlandish_carbonisation,feature_floriated_amish_sprite,...,feature_waiting_torn_alexia,feature_hemal_outright_panicle,feature_septuagenary_bully_puna,feature_ovoid_group_tellurian,feature_crankier_stupefied_bailsman,feature_vizirial_bespangled_pteridophyte,feature_interventionist_gambling_osteomalacia,feature_unnameable_unphonetic_conniver,T0,T4
id,,,,,,,,,,,,,,,,,,,,,
nb5b06e83fe1c412,0439,2,3,3,3,2,4,3,1,1,...,4,4,0,0,0,0,0,0,0.25,0.75
na89cbf822b8badb,0329,4,3,4,4,4,0,4,4,0,...,2,2,2,2,2,2,2,2,0.00,0.25
nfe7c4b2f97ee047,0287,2,4,2,3,1,3,1,4,0,...,4,0,4,0,3,3,4,0,0.75,0.75
n3e103b605aff41f,0357,2,4,1,1,0,1,1,4,2,...,2,2,2,2,2,2,2,2,0.25,0.50
nc4ac47de23c5039,0061,1,1,3,3,2,3,3,2,2,...,4,4,4,4,4,4,4,4,0.50,0.25

In [12]:
type(trainone)

pandas.core.frame.DataFrame