In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("original_data.csv")

In [3]:
df.head()

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,Dalc,Walc,health,absences,G1,G2,G3,subject,Pass,Parents_edu
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,1,1,3,5,5,6,6,Maths,False,4
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,1,1,3,3,5,5,6,Maths,False,1
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,2,3,3,7,7,8,10,Maths,True,1
3,3,GP,F,15,U,GT3,T,4,2,health,...,1,1,5,1,15,14,15,Maths,True,4
4,4,GP,F,16,U,GT3,T,3,3,other,...,1,2,5,3,6,10,10,Maths,True,3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 37 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   991 non-null    int64
 1   school       991 non-null    object
 2   sex          991 non-null    object
 3   age          991 non-null    int64
 4   address      991 non-null    object
 5   famsize      991 non-null    object
 6   Pstatus      991 non-null    object
 7   Medu         991 non-null    int64
 8   Fedu         991 non-null    int64
 9   Mjob         991 non-null    object
 10  Fjob         991 non-null    object
 11  reason       991 non-null    object
 12  guardian     991 non-null    object
 13  traveltime   991 non-null    int64
 14  studytime    991 non-null    int64
 15  failures     991 non-null    int64
 16  schoolsup    991 non-null    object
 17  famsup       991 non-null    object
 18  paid         991 non-null    object
 19  activities   991 non-null    object
 20  nursery      991 non-null    object
 21  higher       991 non-null    object
 22  internet     991 non-null    object
 23  romantic     991 non-null    object
 24  famrel       991 non-null    int64
 25  freetime     991 non-null    int64
 26  goout        991 non-null    int64
 27  Dalc         991 non-null    int64
 28  Walc         991 non-null    int64
 29  health       991 non-null    int64
 30  absences     991 non-null    int64
 31  G1           991 non-null    int64
 32  G2           991 non-null    int64
 33  G3           991 non-null    int64
 34  subject      991 non-null    object
 35  Pass         991 non-null    bool
 36  Parents_edu  991 non-null    int64
dtypes: bool(1), int64(18), object(18)
memory usage: 279.8+ KB

In [5]:
df2 = pd.read_csv("CompleteDataAndBiases.csv")

In [6]:
df2.head()

,index,ParticipantID,name,sex,studytime,freetime,romantic,Walc,goout,Parents_edu,absences,reason,G3,Pass,PredictedGrade,PredictedRank,StereotypeActivation,Predicted_Pass_PassFailStrategy,Predicted_Pass_RankingStrategy
0,132,1,Anna,F,1,2,no,1,2,4,0,course,15,True,17,4,NaN,True,True
1,724,1,Michael,M,1,1,no,4,4,4,1,reputation,11,True,10,7,NaN,True,False
2,637,1,David,M,1,2,no,4,2,2,0,other,11,True,13,6,NaN,True,True
3,884,1,Brian,M,1,1,no,4,4,3,7,home,9,False,10,8,NaN,True,False
4,194,1,Jenny,F,2,2,no,1,4,2,0,reputation,14,True,18,3,NaN,True,True

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856 entries, 0 to 855
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   index                            856 non-null    int64
 1   ParticipantID                    856 non-null    int64
 2   name                             856 non-null    object
 3   sex                              856 non-null    object
 4   studytime                        856 non-null    int64
 5   freetime                         856 non-null    int64
 6   romantic                         856 non-null    object
 7   Walc                             856 non-null    int64
 8   goout                            856 non-null    int64
 9   Parents_edu                      856 non-null    int64
 10  absences                         856 non-null    int64
 11  reason                           856 non-null    object
 12  G3                               856 non-null    int64
 13  Pass                             856 non-null    bool
 14  PredictedGrade                   856 non-null    int64
 15  PredictedRank                    856 non-null    int64
 16  StereotypeActivation             592 non-null    object
 17  Predicted_Pass_PassFailStrategy  856 non-null    bool
 18  Predicted_Pass_RankingStrategy   856 non-null    bool
dtypes: bool(3), int64(11), object(5)
memory usage: 109.6+ KB